.TabButton {
  background-color: white !important;
  color: black !important;
  border: none;
  border-radius: 100px !important;
  padding: 6px 16px !important;
  color: white;
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 0.875rem !important;
}

.active {
  background-color: #2e2be2 !important;
  color: white !important;
}
